<div class="container">
  <div class="log-in smiggles-font">    
    <div class="row">
      <div class="col s8 offset-s2 m6 offset-m3 l4 offset-l4">
        <h2 class="title">Hello Smiggles</h2>
        <%= image_tag 'faces/life-80.gif', class: "welcome-face" %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
          <div class="input-field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="input-field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class: "btn-large waves-effect waves-light submit" do %>
              <i class="material-icons right">Log In</i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row or-row">
      <div class="col s8 offset-s2 m6 offset-m3 l4 offset-l4">
        <div class="row">
          <div class="col s5">
            <div class="grey-divider"></div>
          </div>
          <div class="col s2 or-text">
            or
          </div>
          <div class="col s5">
            <div class="grey-divider"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2 m6 offset-m3 l4 offset-l4">
        <%= render partial: "users/shared/facebook_link" %>
        <%= render partial: "users/shared/sign_up_link" %>
        <%= render partial: "users/shared/forgot_password_link" %>
        <%= render "users/shared/links" %>      
      </div>
    </div>
  </div>  
</div>
