<div class="smiggles-container valign-wrapper smiggles-font">
  <div class="container">
    <h1 class="time-alive"><%= @smiggle.time_alive %></h1>  
    <div class="row">
      <div class="waste-container"></div>
      <div id="happiness-progress" class="progress-gauge">
        <%= image_tag('yarn.png', id: 'happiness', class: 'draggable item') %>
      </div>
      <div class="waste-container"></div>
    </div>
    <div class="row">
      <div class="waste-container"></div>
      <div id="life-progress" class="progress-gauge dropzone">
        <div class="smiggle" data-id=<%= @smiggle.id %>>
          <%= render partial: "faces", locals: {faces: @smiggle.faces} %>  
        </div>
      </div>
      <div class="waste-container"></div>
    </div>    
    <div class="row">
      <div class="waste-container"></div>
      <div class="col s6">
        <div id="food-progress" class="progress-gauge">
          <%= image_tag('fish.png', id: 'food', class: 'draggable item') %>    
        </div>
      </div>  
      <div class="col s6">
        <div id="drink-progress" class="progress-gauge">
          <%= image_tag('drop.png', id: 'drink', class: 'draggable item') %>
        </div>      
      </div>
      <div class="waste-container"></div>
    </div>
    <div class="row">
      <%= image_tag('trash_can.png', id: 'trash_can') %>
    </div>  
  </div>  
</div>

<script>
  var foodProgress = foodProgress("<%= @smiggle.food %>", 'food-progress')
  var drinkProgress = drinkProgress("<%= @smiggle.drink %>", 'drink-progress')
  var happinessProgress = happinessProgress("<%= @smiggle.happiness %>", 'happiness-progress')
  var lifeProgress = lifeProgress("<%= @smiggle.life.amount %>")

  showWaste("<%= @smiggle.waste_count %>", "<%= @smiggle.waste_image_path %>")
  showTrashCan("<%= @smiggle.waste_count %>")
</script>

