<div class="smiggles-container smiggles-font">
  <div class="valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s2">
          <%= render partial: 'layouts/side_nav' %>
        </div> 
        <div class="col s8">
          <h1 class="time-alive"><%= @smiggle.time_alive %></h1>  
        </div>
      </div>
      <div class="row">
        <div class="waste-container"></div>
        <div id="happiness-progress" class="small-progress-gauge">
          <%= image_tag('yarn.png', id: 'happiness', class: 'draggable item') %>
        </div>
        <div class="waste-container"></div>
      </div>
      <div class="row">
        <div class="waste-container"></div>
        <div id="life-progress" class="progress-gauge dropzone">
          <div class="smiggle" data-id=<%= @smiggle.id %>>
            <%= render partial: "faces", locals: {faces: @smiggle.faces} %>  
          </div>
        </div>
        <div class="waste-container"></div>
      </div>    
      <div class="row">
        <div class="waste-container"></div>
        <div class="col s6">
          <div id="food-progress" class="small-progress-gauge">
            <%= image_tag('fish.png', id: 'food', class: 'draggable item') %>    
          </div>
        </div>  
        <div class="col s6">
          <div id="drink-progress" class="small-progress-gauge">
            <%= image_tag('drop.png', id: 'drink', class: 'draggable item') %>
          </div>      
        </div>
        <div class="waste-container"></div>
      </div>
      <div class="row">
        <% if !@life %>
          <%= link_to "Restart", smiggle_resurrect_path(@smiggle), class: "btn-large waves-effect waves-light", method: :post %>
        <% else %>
          <%= image_tag('trash_can.png', id: 'trash_can') %>
        <% end %>  
      </div>  
    </div>  
  </div>
</div>

<script>
  var foodProgress = foodProgress("<%= @smiggle.food %>", 'food-progress')
  var drinkProgress = drinkProgress("<%= @smiggle.drink %>", 'drink-progress')
  var happinessProgress = happinessProgress("<%= @smiggle.happiness %>", 'happiness-progress')
  var lifeProgress = lifeProgress("<%= @smiggle.life_amount %>")

  showWaste("<%= @smiggle.waste_count %>", "<%= @smiggle.waste_image_path %>")
  showTrashCan("<%= @smiggle.waste_count %>")
</script>

